.navbar-collapse{
    text-align: center;
}

.navbar-toggler{
    border: none;
}

.navbar{
    background: linear-gradient(#232526, #414345 100%);
}

.title{
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-shadow: 0px 6px 12px #000;
}

.options{
    color: #C5C5C5 !important;
}

.navOptions a{
  color: #C5C5C5 !important;
}

.dropdown-toggle{
    color: #C5C5C5 !important;
}

.dropdownOptions div{
    background: transparent !important;
    text-align: center !important;
}

@media screen and (min-width: 1024px) {
  .dropdownOptions div{
    background: linear-gradient(#232526, #414345 100%) !important;
    text-align: center !important;
}

}

@media screen and (max-width: 1023px) {
  .dropdownOptions div{
    background: transparent !important;
    text-align: center !important;
}

}

.navbar-toggler {
    background: white;
    border-radius: 7px;
    border: none !important;
} 

.focus-in-expand {
	-webkit-animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }