@media screen and (min-width: 0px) and (max-width: 1024px) {
  .main-mobile {    display: block;  }
  .main-desktop {    display: none;  }
}

@media screen and (min-width: 1025px) and (max-width: 3000px) {
  .main-mobile {    display: none;  }
  .main-desktop {    display: block;  }

}

.logo-mobile{
  margin-top: 50px;
}

.logo{
    display: flex;
    justify-content: center;
}

.bem-vindo{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media screen and (width: 360px) {
  .bem-vindo h2{
    font-size: 25px;
  }
}

@media screen and (width: 320px) {
  .bem-vindo h2{
    font-size: 25px;
  }
}

@media screen and (width: 375px) {
  .bem-vindo h2{
    font-size: 30px;
  }
}

.bem-vindo p{
  color: #D9D9D9;
  font-weight: 400;
}

.localizacao{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.localizacao p{
  color: #D9D9D9;
  font-weight: 400;
}

.d-flex div{
    padding: 1rem;
    text-align: center;
  }


.whatsappIcon{
    color: #57CF6F;
    width: 20px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.card{
    background-color: transparent !important;
    border: none !important;
    border-radius: 25px !important;
    width: 800px;
}

.bg-dark{
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0);
}

.centeredCards{
    display: flex;
    justify-content: center;
}

.cardTop{
    margin-bottom: 50px;
}

.cardLeft{
    margin-right: 20px;
}

.center{
    text-align: center;
}

.ligar{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.spaceBetween{
    justify-content: space-between;
}

.saibaMais {
    border-radius: 16px;
    background: white;
    border: none;
    color: black;
    font-weight: 500;
    width: 100px;
    height: 30px;
  }

.saibaMais:hover {
    background: linear-gradient(#434343, #000000 1000%);
    color: white;
    font-weight: 500;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 16px;
}

.saibaMais a {
    color: black;
    font-weight: 550;
}

.saibaMais a:hover {
    color: white;
    font-weight: 550;
}

  