.logo{
    display: flex;
    justify-content: center;
}

.bem-vindo{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.d-flex div{
    padding: 1rem;
    text-align: center;
  }

.bem-vindo p{
    color: #D9D9D9;
    font-weight: 400;
}

.whatsappIcon{
    color: #57CF6F;
    width: 20px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.card{
    background-color: transparent !important;
    width: 1000px;
}

.centeredCards{
    display: flex;
    justify-content: center;
}

.cardTop{
    margin-bottom: 50px;
}

.cardLeft{
    margin-right: 10px;
}

.center{
    text-align: center;
}

.ligar{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.spaceBetween{
    justify-content: space-between;
}

.saibaMais {
    border-radius: 16px;
    background: white;
    border: none;
    color: black;
    font-weight: 500;
    width: 100px;
    height: 30px;
  }


.saibaMais:hover {
    background: linear-gradient(#434343, #000000 1000%);
    color: white;
    font-weight: 500;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 16px;
}

.saibaMais a {
    color: black;
    font-weight: 550;
}

.saibaMais a:hover {
    color: white;
    font-weight: 550;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  