.centeredText{
    text-align: center;
}

.nossosServicos a {
    color: #D9D9D9;
}

.nossosServicos a:hover {
    color: white;
}

.contato a {
    color: #D9D9D9;
}

.contato a:hover {
    color: white;
}

.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
}

.copyright a{
    color: #D9D9D9 !important;
    font-family: Ubuntu;
    font-size: 13px;
}

.iconFooter{
    margin-right: 10px;
}
