.card-mobile {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    border-radius: 25px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-bottom: 40px;
}

.card-text-mobile{
    margin-top: 40px;
}

.title-card-mobile{
    text-align: center;
    margin-bottom: -30px;
    margin-top: 10px;
}

.title-card-mobile h4{
    font-size: 30px;
}

.text-card-mobile p{
    font-size: 20px;
}

@media screen and (max-width: 361px) {
    .ligar-card-mobile{
        margin: auto;
        margin-top: 25px;
        width: 150px;
    }

    .card-bottom{
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 362px) {
    .ligar-card-mobile{
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 420px) {
    .ligar-card-mobile{
        display: flex;
        margin-top: 25px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 450px) {
    .carousel {
        max-width: 350px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .text-card-mobile{
        margin-left: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .text-card-mobile{
        margin-left: 200px;
    }
    .text-DesentuCard-mobile{
        width: 550px;
    }
}