:root {
  --title-color: #F2F2F2;
  --primary-color: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(#434343, #000000 500%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#434343, #000000 500%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

cody, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}

p, a, ul, li {
  color: var(--primary-color);
  font-family: Roboto;
}


.alertify .ajs-dialog{
  background: linear-gradient(#434343, #000000 1000%) !important;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0) !important;
  border-radius: 25px !important;
}

.ajs-body {
  background: linear-gradient(#434343, #000000 1000%) !important;
}

.ajs-header{
  background: linear-gradient(#434343, #000000 1000%) !important;
}

.ajs-footer{
  background: linear-gradient(#434343, #000000 1000%) !important;
}

.ajs-ok {
  border-radius: 16px;
  background: white !important;
  border: none;
  color: black !important;
  font-weight: 500;
  width: 100px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
  
}

.ajs-ok:hover {
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.ajs-cancel{
  color: white !important;
  border-radius: 16px;
  background: linear-gradient(#434343, #000000 1000%);
  border: none;
  font-weight: 500;
  width: 100px;
  height: 30px;
}

.ajs-cancel:hover{
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

.ajs-error{
  border-radius: 25px !important;
}

.ajs-success{
  border-radius: 25px !important;
}

